@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root {
  --primary-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  // background-color: #131517;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sora, san-serif;
  font-size: inherit;
}
